@media(max-width: 1199px){
	.featured-product{
		.product-title{
			.product-list{
				.pr-img{
					.pr-img-sale{

						/* width: 44%; */
					}
				}
			}
		}
	}
}
@media(max-width: 991px){
	header{
		position: relative;
		.hd-btnmenu{
			display: inline-block;
			position: absolute;
			top: 20px;
			right: 20px;
			color: #fff;
			background: #9a4800;
			width: 60px;
			text-align: center;
			height: 60px;
			padding: 15px;
			z-index: 999;
			i{

				font-size: 30px;

			}
		}
		.hd-logo{
			text-align: center;
		}
		.hd-contact{
			float: left;
		}
		.rowrelative{
			position: relative;
			.col-hd-menu{
				/* display: none; */
				position: fixed;
				top: -20px;
				left: -400px;
				text-align: left;
				transition: .8s;
				z-index: 5;
				height: 100%;
				.hd-menu{
					background: #9a4800;
					height: 100%;
					ul{
						li{
							display: block;
							a{
								background: #9a4800;
								color: #fff;
								width: 300px;
								border-bottom: solid 1px #fff;
								position: relative;
								i{
									position: absolute;
									right: 20px;

								}

							}
							&:last-child {
								a{
									border: none;
								}
							}
							ul{
								left: -500px;
								top: 0;
								transition: .3s;
							}
						}
					}

				}
				&.active{
					left: -15px;
					transition: .8s;
					ul{
						li{
							a{

							}
							ul{
								left: 100%;
								top: 0;
								transition: .3s;
							}
						}
					}
				}
			}
		}

	}
	.banner{
		display: none;
	}
	.featured-product{
		.product-title{
			.product-list{
				.pr-img{
					.pr-img-sale{

						/* width: 21%; */
					}
				}
			}
		}
	}

}


@media(max-width: 768px){
	header{
		.hd-btnmenu{
			height: 50px;
			padding: 12px;
			width: 50px;
			right: 10px;
			top: 10px;
			i{
				font-size: 25px;
			}
		}
		.hd-logo{
			img{
				width: 50px;
				height: 65px;
			}
		}
		.hd-contact{
			margin: 0;
			font-size: 12px;

			.contact-img{
				img{
					width: 25px;
				}
			}
			&:before{
				background: none;
			}

		}
	}
	.featured-product{
		.product-title{
			.product-list{
				.pr-img{
					.pr-img-sale{

						/* width: 24%; */
					}
				}
			}
		}
	}
}




@media (max-width: 480px){
	header{
		.hd-btnmenu{
			width: 40px;
			height: 40px;
			padding: 10px;
			i{
				font-size: 20px;
			}
		}
		.col-480-none{
			display: none;
		}
		.col-480-100{
			width: 100%;
		}
	}
}


