@font-face {
	font-family: "Roboto";
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Roboto-b";
	src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
	font-family: "Arial";
	src: url(../fonts/arial.ttf);
}
@font-face {
	font-family: "Arialb";
	src: url(../fonts/arialbd.ttf);
}
.margleft0{
	margin-left: 0;
}
.margright0{
	margin-right: 0;
}
.paddleft0{
	padding-left: 0;
}
.paddright0{
	padding-right: 0;
}
.paddleft5{
	padding-left: 5px;
}
.paddright5{
	padding-right: 5px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-5ths {
	width: 20%;
	float: left;
}
.row_5{
	margin-left: -10px;
	margin-right: -10px;
}
@media (min-width: 768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}
}


$rbt: 'Roboto';
$rbtb: 'Roboto-b';
$arial: 'Arial';
$arialb: 'Arialb';
$cbg: #f49527;
$color-t: #9a4800;
body{
	font-family: $arial;
	line-height: 1.5;
	font-size: 14px;
}

header{

	background: url('../images/header-bg.jpg');
	padding: 12px 0;
	border-bottom: solid 2px #914d0e;
	.hd-btnmenu{
		display: none;
	}
	.hd-logo{
		img{
			width: 70px;
			height: 85px;
		}

	}
	.hd-menu{
		margin: 20px 0;
		
		ul{
			li{
				display: inline-block;
				position: relative;
				a{
					padding:  15px ;
					display: inline-block;
					color: #9a4800;
					font-weight: bold;
					font-family: $arialb;
					text-transform: uppercase;

				}
				ul{
					display: none;
					position: absolute;
					top: 100%;

					li{
						a{
							width: 300px;
							padding-left: 20px;
							background: #9a4800;
							display: inline-block;
							color: #fff;
							text-align: left;
							border-bottom: solid 1px #fff;
							&:hover{
								background: #ce6a13;
							}

						}
						&:last-child a{
							border: none;
						}
					}
				}
				&:hover{
					ul{
						display: block;
					}
				}
			}
		}
	}
	.hd-contact{
		margin: 20px 0 20px 20px;
		float: right;
		&:before{
			content: '';
			top: 25%;
			bottom: 0;
			left: 0;
			width: 2px;
			height: 50%;
			background: #ff7900;
			position: absolute;
		}
		.contact-img{
			display: inline-block;
		}
		.contact-title{
			margin-left: 10px;
			color: $color-t;
			display: inline-block;
			span{
				color: #f31100;
				font-weight: bold;
			}
		}
	}
}

.banner{
	.paright-0{
		padding-right: 0;
	}
	.padding0{
		padding: 0;
	}
	.paleft0{
		padding-left: 0;
	}
	.banner-menu{
		ul{
			border: solid 1px #c8c8c8;
			display: inline-block;
			width: 100%;
			.menu-name{
				width: 100%;
				font-size: 16px;
				font-family: $rbt;
				font-weight: bold;
				padding: 10px 0 10px 25px;
				color: #fff;
				display: inline-block;
				background: $cbg;
				position: relative;
				text-transform: uppercase;
				i{

					position: absolute;
					right: 10px;
					font-size: 25px;
				}
			}
			li{
				display: block;
				a{
					width: 100%;
					padding: 10px 0 10px 25px;
					font-family: $rbt;
					border-bottom: solid 1px #c8c8c8;

					display: inline-block;
					position: relative;
					i{
						position: absolute; 
						right: 10px;
						top: 12px;
					}
					&:hover{
						background: $cbg;
						color: #fff;
						transition: .3s;
					}
					.menu-phone{
						color: $color-t;
					}
					.menu-lienhe{
						position: absolute;
						right: 20px;
						img{
							margin: 0 5px;
						}
					}

				}
			}
		}
		&.menubn-right{
			ul{
				.menu-name{
					i{
						position: relative;
					}

				}
				li{
					.menu-contact{
						font-weight: bold;
						padding: 20px 0 20px 25px;
					}
					.menu-email{
						font-weight: nomal;
						text-align: center;
						color: $color-t;
						padding: 19px 0 18px 25px;
					}
				}
			}
		}
		
	}
	.banner-slider{
		a{
			display: inline-block;
			img{
				width: 100%;
				height: 466px;
			}
		}

	}
}
.advertisement{
	margin: 18px 0;
	.adver-company{
		position: relative;
		a{
			display: inline-block;
			img{
				width: 100%;
				object-fit: cover;
				height: 175px;
			}
		}
		.adver-img{
			position: absolute;
			top: 20px;
			left: 7%;
		}
	}
	.adver-video{
		a{
			display: inline-block;
			img{
				width: 100%;
				object-fit: cover;
				height: 175px;
			}
		}
	}
}
.featured-product{
	margin: 20px 0;
	.product-title{

		.product-menu{
			margin: 15px 0;
			border-top: solid 2px $cbg;
			.product-menu-name{
				width: 180px;
				display: inline-block;
				padding: 10px 0;
				background: $cbg;
				text-align: center;
				color: #fff;
				/* font-weight: bold; */
				text-transform: uppercase;
				font-size: 16px;
				font-family: $rbtb;
			}
			ul{
				display: inline-block;
				li{
					display: inline-block;
					a{
						padding: 10px;
						color: #666666;
						font-family: $rbt;
						font-size: 15px;
						&:hover{
							transition: .5s;
							color: #666666;
						}
						&:before{
							content: '';
							top: 10px;
							bottom: 0;
							right: 0;
							position: absolute;
							background: #666666;
							width: 1px;
							height: 50%;
						}
					}
					&:last-child{
						a{
							&:before{
								background: none;
							}
						}
					}
				}
				.active{
					a{
						background: none;
						transition: .5s;
						color: #666666;
					}
					&:before{
						content: '';
						top: -1px;
						right: 50%;
						left: 50%;
						position: absolute;
						width: 0;
						height: 0;
						border-left: 5px solid #fff;
						border-right: 5px solid #fff;
						border-top: 5px solid #f49527;
					}
				}
			}
		}

		.product-list{
			padding: 5px;
			border: solid 1px #c8c8c8;
			.pr-img{
				position: relative;
				a{
					width: 100%;
					display: inline-block;
					img{
						width: 100%;
						height: 190px;

					}

				}
				.pr-img-sale{
					width: 60px;
					height: 60px;
					position: absolute;
					top: 0;
					right: 0;
					.sale-before{
						transform: rotate(45deg);
						text-align: center;
						position: relative;
						margin-top: -14px;
						margin-left: 16px;
						&:before{
							content: '';
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							position: absolute;
							border-left: 35px solid #fff0;
							border-right: 35px solid #fff0;
							border-bottom: 35px solid #e84949ed;
							/* background: #f49527; */
							width: 20px;
							height: 20px;
							z-index: 0;
						}
						p{
							position: relative;
							display: inline-block;
							margin-top: 14px;
							z-index: 1;
							color: #Fff;
							margin-top: 15px;
							margin-left: 17px;

						}
					}

				}
			}
			.pr-title{
				position: relative;
				text-align: center;
				line-height: 2;
				margin: 20px 0 10px 0;
				&:before{
					content: '';
					top: 0;
					left: 4%;
					right: 0;
					position: absolute;
					background: #ef6e0a;
					width: 90%;
					height: 1px;
				}
				.pr-title-name{
					color: #222222;
					font-size: 14px;
					font-family: $arialb;
				}
				.pr-title-price{
					color: #ff6f00;
					font-family: $arial;
				}
				.pr-title-btn{
					background: #8f8f91;
					color: #fff;
					padding: 7px 20px;
					border-radius: 2px;
					&:hover{
						background: #a8a8ce;
						transition: .3s;
					}
				}
			}
		}
	}
}
.news{



	margin: 50px 0;
	h2{
		font-size: 30px;
		font-family: $rbtb;
		color: #4c3019;
		text-align: center;
		margin: 30px 0;

	}
	.margin20{
		margin: 20px 0;
		.news-content{
			.new-img{
				a{
					display: inline-block;
					img{
						height: 187px;
						width: 100%;
					}
				}
			}
			.news-description{
				.news-des-name{
					color: #4c3019;
					font-family: $arialb;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					display: -webkit-box;
					text-transform: uppercase;
					margin: 10px 0;
					&:hover{
						color: #d6690f;
					}
				}
				.news-date{
					color: #999999;
					font-style: italic;
					padding: 10px 0;
					border-top: solid 1px #999999;
					border-bottom: solid 1px #999999;
					display: inline-block;
					width: 100%;
					.date-time{
						float: left;
						font-style: italic;
					}
					.news-comment{
						float: right;
						font-style: italic;
					}
				}
				.news-content{
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					display: -webkit-box;
					height: 60px;
				}
			}
		}
	}
}
footer{
	font-family: $arial;
	font-size: 12px;
	background: #673200;
	color: #fff;
	padding: 20px 0;
	line-height: 2;
	.footer-info{

		h2{

		}
		p{
			margin: 10px 0;
		}
		i{
			font-size: 16px;
			margin: 0 5px;
		}

	}
	.footer-menu{
		margin: 20px 0;
		.footer-aboutus{

			display: inline-block;
			width: 45%;
			padding: 0 15px;
			ul.about-us{
				list-style-type: disc;

			}
		}
		.footer-policy{
			display: inline-block;
			width: 45%;
			padding: 0 15px;
			ul.policy{
				list-style-type: square;		
			}
		}

		ul{
			li{
				margin: 10px 0;
			}
		}
	}
	.footer-facebook{
		.fanpage-iframe{
			margin: 15px 0;
		}

	}
	.footer-title{
		font-family: $arialb;
		font-size: 18px;
		text-transform: uppercase;
		margin: 10px 0;
	}
	.footer-category{
		font-family: $arialb;
		font-size: 13px;
		text-transform: uppercase;
	}

}



/* --------------------------------------------------------END-HOME------------------------------------------------------------- */




.banner{
	.product-hot{
		margin: 30px 0;
		border: solid 1px #c8c8c6 ;
		.procate-name{
			width: 100%;
			font-size: 16px;
			font-family: $rbt;
			font-weight: bold;
			padding: 10px 0 10px 25px;
			color: #fff;
			display: inline-block;
			background: $cbg;
			position: relative;
			text-transform: uppercase;
			text-align: center;

		}
		.product-hlist{
			margin: 20px 10px;

			.prohot-img{
				display: inline-block;
				width: 45%;
				img{
					width: 100%;
					height: 100px;
				}

			}
			.prohot-description{
				display: inline-block;
				width: 51%;
				float: right;
				font-size: 15px;
				.prohot-name{
					font-family: $rbtb;

					color: #333333;
				}
				.prohot-price{
					color: #f49527;
					margin: 10px 0;
				}
			}
		}
	}
	.product-search{
		padding: 5px;
		background: #cd6502;
		form{
			select.product-category{
				width: 30%;
				height: 35px;
			}
			.search-Text{
				height: 35px;
				width: 60%;
			}
		}

	}
	.back-link{
		color: #333333;
		font-family: 'FontAwesome';
		.breadcrumb{
			background: none;
		}
		.breadcrumb>li+li:before{
			content: "\f101";
			font-family: 'FontAwesome';
			color: #333333;
		}
		.breadcrumb>.active{
			color: #f49527;
		}
		ol{
			li{
				i{
					color: #f49527;
					margin-right: 5px;
				}
			}
		}
	}
	.procate-list{
		padding-left: 20px;
		.procategory-content{
			margin:  20px 0;
			.procate-name{
				text-transform: uppercase;
				color: #f49527;
				font-family: $rbtb;
				font-size: 24px;
				margin: 20px 0;
			}
			.s-content{
				text-align: justify;
			}
		}
		.product-list{
			padding: 5px;
			border: solid 1px #c8c8c8;
			.pr-img{
				position: relative;
				a{
					width: 100%;
					display: inline-block;
					img{
						width: 100%;
						height: 190px;

					}

				}
				.pr-img-sale{
					width: 60px;
					height: 60px;
					position: absolute;
					top: 0;
					right: 0;
					.sale-before{
						transform: rotate(45deg);
						text-align: center;
						position: relative;
						margin-top: -14px;
						margin-left: 16px;
						&:before{
							content: '';
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							position: absolute;
							border-left: 35px solid #fff0;
							border-right: 35px solid #fff0;
							border-bottom: 35px solid #e84949ed;
							/* background: #f49527; */
							width: 20px;
							height: 20px;
							z-index: 0;
						}
						p{
							position: relative;
							display: inline-block;
							margin-top: 14px;
							z-index: 1;
							color: #Fff;
							margin-top: 15px;
							margin-left: 17px;

						}
					}

				}
			}
			.pr-title{
				position: relative;
				text-align: center;
				line-height: 2;
				margin: 20px 0 10px 0;
				&:before{
					content: '';
					top: 0;
					left: 4%;
					right: 0;
					position: absolute;
					background: #ef6e0a;
					width: 90%;
					height: 1px;
				}
				.pr-title-name{
					color: #222222;
					font-size: 14px;
					font-family: $arialb;
				}
				.pr-title-price{
					color: #ff6f00;
					font-family: $arial;
				}
				.pr-title-btn{
					background: #8f8f91;
					color: #fff;
					padding: 7px 20px;
					border-radius: 2px;
					&:hover{
						background: #a8a8ce;
						transition: .3s;
					}
				}
			}
		}
	}

}