@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Italic";
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: "FontAwesome";
    src: url(../fonts/FontAwesome.otf);
}

@font-face {
    font-family: "Fa900";
    src: url(../fonts/fa-solid-900.woff2);
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    color: #000;
    padding: 0;
    margin: 0;
}

a {
    transition: .5s;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #0083c4;
    outline: none;
}

body {
    font-size: 14px;
    font-family: "Roboto-Regular";
    @import url("https://fonts.googleapis.com/css?family=Roboto:300");
}

body .container-ics {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    line-height: 26px;
    font-family: "Roboto-Regular", sans-serif;
}

body .rating-demo {
    color: #ffad00;
    font-size: 10px;
}

.no-rating {
    color: #848484;
}

body .price-demo {
    font-size: 18px;
    font-family: 'Roboto-Bold';
    color: #0083c4;
}

body .price-demo .price-old {
    font-size: 14px;
    padding: 0 4px 0 4px;
    text-decoration: line-through;
    color: #000;
    line-height: 90%;
    font-family: 'Roboto-Medium';
}

body .product-name-demo,
body .name-product-current {
    color: #000;
    font-family: 'Roboto-Bold';
}

body .product-name-demo:hover,
body .name-product-current:hover {
    color: #0083c4;
    text-decoration: none;
}

body .name-product-current {
    font-size: 18px;
}

body header .container-ics .header-row {
    display: flex;
    padding: 20px 0;
}

body header .container-ics .header-row .header-logo {
    padding: 30px 0;
}

body header .container-ics .header-row .header-info {
    color: blue;
    text-align: center;
}

body header .container-ics .header-row .header-info div {
    font-size: 14px;
    font-family: 'Roboto-Medium';
    color: #000;
}

body header .container-ics .header-row .header-info .company-name {
    font-family: "Roboto-Bold";
    text-transform: uppercase;
    color: #0083c4;
    font-size: 32px;
}

body .menu-header {
    height: 60px;
}

body .menu-header .container-ics .menu-content {
    width: 100%;
    background: #202020;
    display: inline-block;
}

body .menu-header .container-ics .menu-content .menu-bar-left {
    width: 85%;
    float: left;
}

body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left {
    float: left;
    position: relative;
    z-index: 1;
    width: 300px;
    position: relative;
}

body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-heading {
    font-size: 15px;
    line-height: 20px;
    background-color: #0083c4;
    color: #fff;
    text-transform: uppercase;
    height: 60px;
    padding: 20px;
    padding-left: 26px;
    font-family: Roboto-Medium;
}

body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-heading .fa-th-list {
    margin-right: 20px;
}

body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left:hover .vertical-menu-list {
    display: inline-block;
    animation-name: zoomIn;
    animation-duration: 0.5s;
}

body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-list {
    width: 300px;
    background-color: #222;
    position: absolute;
    top: 100%;
    display: none;
}

body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-list ul.vertical-menu-parent {
    padding: 0;
    line-height: 23px;
    margin: 0;
    padding: 16px 0 20px 0;
}

body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-list ul.vertical-menu-parent .vertical-menu-item a {
    padding: 11px 25px 10px 25px;
    display: table-cell;
    color: #fff;
    font-family: "Roboto-Medium";
    transition: 0.5s;
}

body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-list ul.vertical-menu-parent .vertical-menu-item a:hover {
    text-decoration: none;
    color: #0083c4;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent {
    margin-left: 10px;
    display: inline-block;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item {
    list-style: none;
    position: relative;
    padding: 0;
    letter-spacing: 0;
    display: inline-block;
    height: 100%;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item a.parent-menu-link {
    padding: 20px;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    font-family: "Roboto-Medium";
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    position: relative;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item a.parent-menu-link:hover {
    color: #0083c4;
    transition: 0.5s;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item a.parent-menu-link:hover:after {
    display: block;
    -webkit-animation-duration: 100ms;
    -moz-animation-duration: 100ms;
    animation-duration: 100ms;
    animation-delay: 100ms;
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: animation_menu_icon;
    -moz-animation-name: animation_menu_icon;
    animation-name: animation_menu_icon;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item a.parent-menu-link:hoverul.horizontal-menu-child {
    height: 100%;
    transition: 0.5s;
    display: inline-block;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item a.parent-menu-link.show-drop-down:before {
    content: "\f107";
    font-family: "FontAwesome";
    top: 20px;
    right: 8px;
    font-size: 10px;
    position: absolute;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item a.parent-menu-link:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    display: none;
    border-width: 1px;
    border-style: solid;
    bottom: -5px;
    left: 50%;
    z-index: 0;
    margin-left: -8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: #fff;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item:hover ul.horizontal-menu-child {
    display: inline-block;
    overflow: visible;
    visibility: visible;
    pointer-events: none;
    cursor: pointer;
    transition: 0.6s;
    pointer-events: all;
    animation-name: zoomIn;
    animation-duration: 0.5s;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item ul.horizontal-menu-child {
    width: 210px;
    z-index: 2;
    padding: 22px 30px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: -30px;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    cursor: none;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item ul.horizontal-menu-child:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-color: #ebebeb;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item ul.horizontal-menu-child li.child-menu-item {
    padding: 8px 0;
    width: 100%;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item ul.horizontal-menu-child li.child-menu-item a {
    width: 100%;
    position: relative;
    z-index: 99;
    color: #848484;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    transition: none;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item ul.horizontal-menu-child li.child-menu-item a:hover {
    color: #0083c4;
    transition: 0.5s;
}

body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center .horizontal-menu-list ul.horizontal-menu-parent li.horizontal-menu-item ul.horizontal-menu-child li.child-menu-item a::before {
    content: "\f105";
    position: absolute;
    right: 0;
    top: 0;
    font-family: "FontAwesome";
    font-size: 10px;
}

body .menu-header .container-ics .menu-content .cart-menu-right {
    width: 15%;
    float: right;
    background: #0083c4;
    line-height: 1.5;
    padding: 20px 0;
    height: 60px;
}

body .menu-header .container-ics .menu-content .cart-menu-right .cart-menu-content {
    color: #fff;
    width: 100%;
    text-align: center;
}

body .menu-header .container-ics .menu-content .cart-menu-right .cart-menu-content i {
    font-family: "FontAwesome";
    font-size: 14px;
    margin: 0 5px;
}

body .menu-header .container-ics .menu-content .cart-menu-right .cart-menu-content .cart-menu-total {
    font-family: "Roboto-Bold";
    font-size: 14px;
}

body .mobile-menu-list {
    width: 0;
    opacity: 0;
    border-color: #ebebeb;
    background: #2f2f2f;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: 0.5s;
    height: 100%;
    left: -300px;
}

body .mobile-menu-list.mobile-menu-active {
    opacity: 1;
    left: 0;
    width: 100%;
}

body .mobile-menu-list .mobile-logo {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

body .mobile-menu-list .menu-mobile-close {
    font-family: "FontAwesome";
}

body .mobile-menu-list .mobile-menu-parent .mobile-menu-item {
    width: 100%;
    border-color: rgba(135, 135, 135, 0.2);
    border-width: 1px 0 0 0;
    position: relative;
    border-style: solid;
}

body .mobile-menu-list .mobile-menu-parent .mobile-menu-item a {
    padding: 11px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 0.6s;
    width: 100%;
}

body .mobile-menu-list .mobile-menu-parent .mobile-menu-item a:hover {
    color: #0083c4;
}

body .mobile-menu-list .mobile-menu-parent .mobile-menu-item a.mobile-menu-link {
    border-color: rgba(135, 135, 135, 0.2);
    border-width: 0 0 1px 0;
    border-style: solid;
}

body .mobile-menu-list .mobile-menu-parent .mobile-menu-item .btn-show-chid {
    padding: 11px;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

body .mobile-menu-list .mobile-menu-parent .mobile-menu-item .mobile-menu-child {
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
}

body .mobile-menu-list .mobile-menu-parent .mobile-menu-item .mobile-menu-child a {
    padding: 11px 30px;
    display: inline-block;
    text-decoration: none;
    text-transform: initial;
    color: #fff;
    transition: 0.6s;
}

body .mobile-menu-list .mobile-menu-parent .mobile-menu-item .mobile-menu-child a:hover {
    color: #0083c4;
}

body .mobile-menu-list .mobile-menu-parent .mobile-child-active .mobile-menu-child {
    display: block;
    height: 100%;
    opacity: 1;
    animation: growDown 300ms ease-in-out forwards;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

body .mobile-button {
    text-align: center;
    position: fixed;
    top: 35px;
    left: 10px;
    display: none;
    z-index: 3;
}

body .mobile-button .mobile-button-click {
    background: #fff;
    display: inline-block;
    cursor: pointer;
}

body .mobile-button .mobile-button-click .mobile-button-line1,
body .mobile-button .mobile-button-click .mobile-button-line2,
body .mobile-button .mobile-button-click .mobile-button-line3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

body .mobile-button .mobile-button-click .mobile-button-line1:first-child,
body .mobile-button .mobile-button-click .mobile-button-line2:first-child,
body .mobile-button .mobile-button-click .mobile-button-line3:first-child {
    margin-top: 0;
}

body .mobile-button .mobile-button-click .mobile-button-line1:last-child,
body .mobile-button .mobile-button-click .mobile-button-line2:last-child,
body .mobile-button .mobile-button-click .mobile-button-line3:last-child {
    margin-bottom: 0;
}

body .mobile-button .mobile-button-click.menu-change {
    display: none;
}

body .mobile-button-close {
    text-align: center;
    position: absolute;
    top: 25px;
    right: 20px;
}

body .mobile-button-close .mobile-button-click {
    display: inline-block;
    cursor: pointer;
}

body .mobile-button-close .mobile-button-click .mobile-button-line1,
body .mobile-button-close .mobile-button-click .mobile-button-line2,
body .mobile-button-close .mobile-button-click .mobile-button-line3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

body .mobile-button-close .mobile-button-click .mobile-button-line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #fff;
}

body .mobile-button-close .mobile-button-click .mobile-button-line2 {
    opacity: 0;
    background-color: #fff;
}

body .mobile-button-close .mobile-button-click .mobile-button-line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #fff;
}

body .banner {
    max-width: 100%;
    display: inline-block;
    width: 100%;
}

body .banner .container-ics .row-banner {
    margin-top: 20px;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 20px;
}

body .banner .container-ics .row-banner .banner-slider {
    float: left;
    margin-left: 320px;
    width: calc(100% - 740px);
    padding-right: 10px;
    padding-left: 10px;
}

body .banner .container-ics .row-banner .banner-slider .slick-dots {
    bottom: 25px;
}

body .banner .container-ics .row-banner .banner-slider .slick-dots li button::before {
    background: #3c3939;
    border-radius: 100%;
    content: '';
    width: 13px;
    height: 13px;
    opacity: 0.6;
}

body .banner .container-ics .row-banner .banner-slider .slick-dots li.slick-active button::before {
    background: #fff;
    border: solid 1px blue;
    opacity: 1;
}

body .banner .container-ics .row-banner .banner-slider .slick-active .banner-slider-item img {
    animation: showups 1s;
}

body .banner .container-ics .row-banner .banner-slider .slick-active .banner-slider-item.banner-slider-item2 img {
    animation: showright 1s;
}

body .banner .container-ics .row-banner .banner-slider .slick-active .banner-content {
    width: 350px;
}

body .banner .container-ics .row-banner .banner-slider .slick-active .banner-content-title,
body .banner .container-ics .row-banner .banner-slider .slick-active .banner-content-description {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

body .banner .container-ics .row-banner .banner-slider .slick-active .banner-content-title:first-of-type {
    animation: showup 7s infinite;
}

body .banner .container-ics .row-banner .banner-slider .slick-active .banner-content-title:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
}

body .banner .container-ics .row-banner .banner-slider .slick-active .banner-content-description:first-of-type {
    animation: showup 7s infinite;
}

body .banner .container-ics .row-banner .banner-slider .slick-active .banner-content-description:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
}

body .banner .container-ics .row-banner .banner-slider .slick-active .banner-content2 .banner-content-title2 {
    animation: fadeInDown;
    animation-duration: 2s;
}

body .banner .container-ics .row-banner .banner-slider .slick-active .banner-content2 .banner-description2 .banner-content-description2 {
    animation: fadeInRight;
    animation-duration: 2s;
}

body .banner .container-ics .row-banner .banner-slider .slick-active .banner-content2 .banner-button2 .banner-btn-link {
    animation: fadeInUp;
    animation-duration: 2s;
}

body .banner .container-ics .row-banner .banner-slider .banner-slider-item {
    position: relative;
    height: 590px;
}

body .banner .container-ics .row-banner .banner-slider .banner-slider-item img {
    width: 100%;
    position: absolute;
    transition: all .3s ease-out;
    background: #428bca;
    height: 590px;
}

body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content {
    position: absolute;
    top: 30%;
    left: 10%;
    text-transform: uppercase;
}

body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-title {
    width: 100%;
    display: inline-block;
    font-family: "Roboto-Bold";
    font-size: 45px;
    margin: 0;
}

body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-description {
    width: 100%;
    display: inline-block;
    font-family: "Roboto-Regular";
    font-size: 20px;
}

body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-btn-link {
    background: #0a84cd;
    border: none;
    color: #fff;
    padding: 10px 25px;
    margin-top: 40px;
    text-transform: uppercase;
    font-family: "Roboto-Bold";
    display: inline-block;
    font-size: 14px;
    transition: 0.5s;
    animation: slidein 7s infinite;
}

body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-btn-link:hover {
    text-decoration: none;
    background: #0d9bff;
}

body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 {
    top: 30%;
    width: 420px;
    text-align: right;
    position: absolute;
    right: 10%;
}

body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-content-title2 {
    width: 100%;
    display: inline-block;
    font-family: "Roboto-Bold";
    font-size: 60px;
    margin: 0;
}

body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-description2 .banner-content-description2 {
    font-size: 18px;
    text-transform: uppercase;
}

body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-button2 .banner-btn-link {
    background: #0a84cd;
    border: none;
    color: #fff;
    padding: 10px 25px;
    margin-top: 40px;
    text-transform: uppercase;
    font-family: "Roboto-Bold";
    display: inline-block;
    font-size: 14px;
    transition: 0.5s;
}

body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-button2 .banner-btn-link:hover {
    text-decoration: none;
    background: #0d9bff;
}

body .banner .container-ics .row-banner .banner-product {
    width: 420px;
    padding: 0 10px;
    float: right;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem {
    margin-bottom: 20px;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link {
    display: inline-block;
    width: 100%;
    position: relative;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link::before {
    content: '';
    width: auto;
    height: auto;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    position: absolute;
    opacity: 0.5;
    border-width: 10px;
    border-style: solid;
    border-color: #fff;
    transition: all 200ms ease-out 0s;
    -moz-transition: all 200ms ease-out 0s;
    -webkit-transition: all 200ms ease-out 0s;
    transition: .5s;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link img {
    height: 285px;
    width: 100%;
    object-fit: cover;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content {
    position: absolute;
    color: #000;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 1.3;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content .banner-product-title {
    font-family: 'Roboto-Bold';
    font-size: 36px;
    width: 100%;
    display: inline-block;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content .banner-product-description {
    text-transform: uppercase;
    font-family: 'Roboto-Regular';
    font-size: 35px;
    width: 100%;
    display: inline-block;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem2 {
    margin-bottom: 20px;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-content {
    top: 30px;
    color: #fff;
    bottom: 0;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link {
    display: inline-block;
    width: 100%;
    position: relative;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link::before {
    content: '';
    width: auto;
    height: auto;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    position: absolute;
    opacity: 0.5;
    border-width: 10px;
    border-style: solid;
    border-color: #fff;
    transition: all 200ms ease-out 0s;
    -moz-transition: all 200ms ease-out 0s;
    -webkit-transition: all 200ms ease-out 0s;
    transition: .5s;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link img {
    height: 285px;
    width: 100%;
    object-fit: cover;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link .banner-product-content {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 1.3;
    top: 30px;
    color: #fff;
    bottom: 0;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link .banner-product-content .banner-product-title {
    font-family: 'Roboto-Bold';
    font-size: 36px;
    width: 100%;
    display: inline-block;
}

body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link .banner-product-content .banner-product-description {
    text-transform: uppercase;
    font-family: 'Roboto-Regular';
    font-size: 35px;
    width: 100%;
    display: inline-block;
}

body .top-category {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 80px;
}

body .top-category .container-ics .top-category-slider .category-item {
    text-align: center;
    width: 154.7px;
}

body .top-category .container-ics .top-category-slider .category-item .category-item-link {
    display: inline-block;
    height: 154.7px;
    border: solid 1px #ddd;
    transition: .5s;
    overflow: hidden;
}

body .top-category .container-ics .top-category-slider .category-item .category-item-link img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: all 0.2s ease-in-out;
}

body .top-category .container-ics .top-category-slider .category-item .category-item-link:hover {
    padding: 0;
}

body .top-category .container-ics .top-category-slider .category-item .category-item-link:hover img {
    transform: scale(1.2);
}

body .top-category .container-ics .top-category-slider .category-item .category-item-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #000;
    transition: .5s;
    font-family: 'Roboto-Regular';
}

body .top-category .container-ics .top-category-slider .category-item .category-item-title:hover {
    text-decoration: none;
    color: #0083c4;
}

body .top-category .btn-category-next {
    position: absolute;
    right: 0;
    top: 20%;
    width: 25px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}

body .top-category .btn-category-prev {
    position: absolute;
    left: 0;
    top: 20%;
    width: 25px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}

body .product-hot {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

body .product-hot .container-ics .product-hot-content {
    margin-bottom: 40px;
    margin-right: -10px;
    margin-left: -10px;
}

body .product-hot .container-ics .product-hot-content .product-sale-left {
    width: 366px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail {
    border: solid 1px #ebebeb;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-title .product-sale-title-name {
    color: #fff;
    padding: 15px 20px;
    line-height: 30px !important;
    width: 100%;
    text-transform: uppercase;
    background-color: #e72304;
    margin-bottom: 0;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content {
    position: relative;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-item .product-sale-img {
    width: 100%;
    display: inline-block;
    border-bottom: solid 1px #ddd;
    margin-bottom: 10px;
    height: 392px;
    transition: .5s;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-item .product-sale-img img {
    width: 100%;
    transition: all .2s ease-in-out;
    height: 100%;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-item .product-sale-img:hover {
    padding: 1px;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-item .product-sale-img:hover img {
    transform: scale(1.1);
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-description {
    text-align: center;
    padding-bottom: 10px;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-description .product-sale-name {
    display: inline-block;
    width: 100%;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-description .product-sale-rating {
    margin-bottom: 3px;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-description .product-sale-time {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 14px 0;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-description .product-sale-time div {
    background-color: #f7f7f7;
    border: solid 1px #f1f1f1;
    color: #666;
    width: 60px;
    margin: 0 2px;
    padding: 11px 2px 10px 2px;
    line-height: 1;
    font-family: 'Roboto-Medium';
    font-size: 18px;
    text-transform: uppercase;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-description .product-sale-time div span {
    font-family: 'Roboto-Regular';
    font-size: 11px;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .btn-slide {
    width: 30px;
    height: 30px;
    border: solid 1px #ccc;
    padding: 6px;
    color: #bbb;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 25%;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .btn-slide.btn-product-next {
    right: 0;
}

body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .btn-slide.btn-product-prev {
    left: 0;
}

body .product-hot .container-ics .product-hot-content .product-hot-category {
    position: relative;
    width: calc(100% - 366px);
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-hot-header {
    position: relative;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-category-tab .nav-tabs {
    border-bottom: solid 2px #0083c4;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-category-tab .nav-tabs li a {
    padding: 15px 20px 13px 20px;
    line-height: 30px;
    display: inline-block;
    font-size: 18px;
    font-family: 'Roboto-Bold';
    color: #000;
    transition: .5s;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-category-tab .nav-tabs li a:focus {
    border: none;
    outline: none;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-category-tab .nav-tabs li a:hover {
    text-decoration: none;
    color: #e72304;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-category-tab .nav-tabs li a.active {
    color: #fff;
    background-color: #0083c4;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content {
    padding: 20px 0;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller {
    position: inherit;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item {
    /* padding: 3px; */
    border-top: solid 1px #ebebeb;
    /* border-left: solid 1px #ebebeb; */
    border-right: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item .product-seller-image {
    /* border-top: solid 1px #ebebeb;
    border-left: solid 1px #ebebeb;
    border-right: solid 1px #ebebeb; */
    display: block;
    width: 100%;
    height: 304px;
    transition: .5s ease;
    overflow: hidden;
    position: relative;
}

.product-best-seller .slick-slide.slick-active:first-child .product-seller-item {
    border-left: solid 1px #ebebeb;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item .product-seller-image:focus {
    outline: none;
    border: none;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item .product-seller-image img {
    width: 100%;
    object-fit: cover;
    transition: all .2s ease-in-out;
    height: 100%;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item .product-seller-image:hover img {
    transform: scale(1.2);
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item .product-seller-image:hover,
body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item .product-seller-image:active,
body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item .product-seller-image:focus {
    /* border-top: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
    border-left: solid 1px #ebebeb;
    border-right: solid 1px #ebebeb; */
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item .product-seller-description {
    padding-top: 15px;
    /* border: solid 1px #ebebeb; */
    padding: 15px 10px 10px 10px;
    text-align: center;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item .product-seller-description .product-seller-name {
    display: inline-block;
    width: 100%;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item .product-seller-description .product-seller-price {
    margin-bottom: 4px;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .owl-buttons {
    right: 10px;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-hot-bottom {
    margin-left: -10px;
    margin-right: -10px;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-hot-bottom .product-hot-banner {
    width: 50%;
    display: inline;
    padding: 0 10px;
    float: left;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-hot-bottom .product-hot-banner .hot-banner-link {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-hot-bottom .product-hot-banner .hot-banner-link:hover img {
    transform: scale(1.2);
}

body .product-hot .container-ics .product-hot-content .product-hot-category .product-hot-bottom .product-hot-banner .hot-banner-link img {
    width: 100%;
    object-fit: contain;
    transition: transform .5s ease;
    height: 122px;
}

body .electronic .container-ics .electtronic-content {
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    width: 100%;
}

body .electronic .container-ics .electtronic-content .electronic-header {
    position: relative;
    width: 100%;
    display: inline-block;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-left {
    background-color: #383838;
    width: 29%;
    height: 60px;
    align-content: center;
    float: left;
    justify-content: center;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-left .electronic-header-icon {
    padding: 13px 5px;
    position: relative;
    z-index: 2;
    float: left;
    display: inline-block;
    width: 60px;
    margin-right: 16px;
    text-align: center;
    background-color: #0a84cd;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-left .electronic-header-icon img {
    width: 34px;
    height: 34px;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-left .electronic-header-icon::after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    right: -18px;
    top: 0;
    bottom: 0;
    z-index: 1;
    border-top: 30px solid transparent;
    border-left: 18px solid #fff;
    border-bottom: 30px solid transparent;
    border-left-color: #0a84cd;
    border-right-color: #0a84cd;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-left .electronic-header-name {
    float: left;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-left .electronic-header-name h3 {
    color: #fff;
    font-family: 'Roboto-Medium';
    padding: 15px 30px;
    font-size: 25px;
}

body .electronic .container-ics .electtronic-content .electronic-header::after {
    content: "";
    height: 2px;
    border-width: 2px 0 0 0;
    border-style: solid;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    border-color: #383838;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-right {
    text-align: right;
    float: left;
    width: 71%;
    height: 60px;
    padding: 20px 100px 15px 0;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-right .electronic-tab .nav-tabs {
    display: inline-flex;
    border-bottom: none;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-right .electronic-tab .nav-tabs li {
    margin-left: 30px;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-right .electronic-tab .nav-tabs li a {
    font-size: 18px;
    color: #000;
    font-family: 'Roboto-Regular';
    padding: 8px 0;
    position: relative;
    transition: .5s;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-right .electronic-tab .nav-tabs li a:hover {
    text-decoration: none;
    color: #0a84cd;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-right .electronic-tab .nav-tabs li a.active {
    color: #0a84cd;
}

body .electronic .container-ics .electtronic-content .electronic-header .electronic-header-right .electronic-tab .nav-tabs li a.active::after {
    content: "\f0d8";
    font-family: 'FontAwesome';
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -6px;
    z-index: 1;
    font-size: 20px;
    line-height: 10px;
    color: #383838;
}

body .electronic .container-ics .electtronic-content .electronic-detail {
    padding-top: 20px;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-banner {
    width: 29%;
    float: left;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-banner .electronic-banner-link {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 440px;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-banner .electronic-banner-link img {
    width: 100%;
    transition: all .2s ease-in-out;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-banner .electronic-banner-link:hover img {
    transform: scale(1.05);
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-product {
    padding-left: 20px;
    width: 71%;
    float: right;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-product .electronic-tab .electronic-product-slide {
    position: inherit;
    padding-right: 1px;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-product .electronic-tab .electronic-product-slide .electronic-product-item {
    box-sizing: border-box;
    /* padding: 0 4px; */
    border-right: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
    border-top: solid 1px #ebebeb;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-product .electronic-tab .electronic-product-slide .slick-active:first-child .electronic-product-item {
    border-left: solid 1px #ebebeb;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-product .electronic-tab .electronic-product-slide .electronic-product-item .product-electronic-image {
    display: block;
    width: 100%;
    /* border-top: solid 1px #ebebeb; */
    /* border-left: solid 1px #ebebeb; */
    /* border-right: solid 1px #ebebeb; */
    height: 338px;
    transition: .5s ease;
    overflow: hidden;
    position: relative;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-product .electronic-tab .electronic-product-slide .electronic-product-item .product-electronic-image:hover img {
    transform: scale(1.2);
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-product .electronic-tab .electronic-product-slide .electronic-product-item .product-electronic-image img {
    width: 100%;
    object-fit: cover;
    transition: all .2s ease-in-out;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-product .electronic-tab .electronic-product-slide .electronic-product-item .product-electronic-description {
    /* border: solid 1px #ebebeb; */
    padding: 15px 10px 10px 10px;
    text-align: center;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-product .electronic-tab .electronic-product-slide .electronic-product-item .product-electronic-description .product-electronic-name {
    display: inline-block;
    width: 100%;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-product .electronic-tab .electronic-product-slide .electronic-product-item .product-electronic-description .product-electronic-price {
    margin-bottom: 3px;
}

body .electronic .container-ics .electtronic-content .electronic-detail .electronic-product .electronic-tab .electronic-product-slide .owl-buttons {
    right: 0;
}

body .partner {
    margin-bottom: 80px;
}

body .partner .container-ics .partner-content {
    background-color: #f8f8f8;
}

body .partner .container-ics .partner-content .partner-slide {
    position: relative;
    padding: 40px 0;
}

body .partner .container-ics .partner-content .partner-slide .partner-item .partner-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    height: 70px;
}

.partner-content .partner-slide .partner-item .partner-link img {
    display: inline-block;
}

body .partner .container-ics .partner-content .partner-slide .owl-controls {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

body .partner .container-ics .partner-content .partner-slide .owl-controls .owl-buttons {
    position: relative;
}

body .partner .container-ics .partner-content .partner-slide .owl-controls .owl-buttons .owl-prev {
    color: #000;
    background: none;
    position: absolute;
    font-size: 24px;
    left: -50px;
    top: 35px;
    font-weight: 100;
    display: inline-block;
    width: 62px;
    height: 62px;
    padding: 7px 10px;
    opacity: 0;
    transition: all .5s ease-in-out;
    cursor: none;
    pointer-events: none;
}

body .partner .container-ics .partner-content .partner-slide .owl-controls .owl-buttons .owl-next {
    color: #000;
    background: none;
    position: absolute;
    font-size: 24px;
    right: -50px;
    top: 35px;
    font-weight: 100;
    display: inline-block;
    width: 62px;
    height: 62px;
    padding: 7px 10px;
    opacity: 0;
    transition: all .5s ease-in-out;
    cursor: none;
    pointer-events: none;
}

body .partner .container-ics .partner-content .partner-slide .owl-controls .owl-buttons img {
    width: 30px;
    height: 30px;
}

body .partner .container-ics .partner-content .partner-slide:hover .owl-controls .owl-buttons .owl-prev {
    transform: translateX(70px);
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}

body .partner .container-ics .partner-content .partner-slide:hover .owl-controls .owl-buttons .owl-next {
    transform: translateX(-70px);
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}

body .seller-sold-out {
    position: absolute;
    left: 0;
    top: 10px;
}

body .seller-sold-out .sold-out-cap {
    width: 73px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto-Medium';
    color: #fff;
    position: relative;
}

body .seller-sold-out .sold-out-cap::before {
    position: absolute;
    width: 0;
    height: 0;
    border-top-width: 13px;
    border-top-style: solid;
    border-top-color: 0083c4;
    border-right: 11px solid transparent;
    position: absolute;
    content: "";
    top: 0;
    left: calc(100% - 1px);
    backface-visibility: visible;
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;
}

body .seller-sold-out .sold-out-cap::after {
    width: 0;
    height: 0;
    border-right: 11px solid transparent;
    position: absolute;
    content: "";
    bottom: 0;
    left: calc(100% - 1px);
    backface-visibility: visible;
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;
}

body .seller-sold-out .sold-out-cap.onSoldOut {
    background: #d4d4d4;
}

body .seller-sold-out .sold-out-cap.onSoldOut::before {
    border-top: 13px solid #d4d4d4;
    border-top-color: #d4d4d4;
}

body .seller-sold-out .sold-out-cap.onSoldOut::after {
    border-bottom-color: #d4d4d4;
    border-bottom: 13px solid #d4d4d4;
}

body .seller-sale {
    position: absolute;
    left: 0;
    top: 10px;
}

body .seller-sale .seller-cap {
    width: 48px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto-Medium';
    color: #fff;
    position: relative;
}

body .seller-sale .seller-cap::before {
    position: absolute;
    width: 0;
    height: 0;
    border-top-width: 13px;
    border-top-style: solid;
    border-top-color: 0083c4;
    border-right: 11px solid transparent;
    position: absolute;
    content: "";
    top: 0;
    left: calc(100% - 1px);
    backface-visibility: visible;
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;
}

body .seller-sale .seller-cap::after {
    width: 0;
    height: 0;
    border-right: 11px solid transparent;
    position: absolute;
    content: "";
    bottom: 0;
    left: calc(100% - 1px);
    backface-visibility: visible;
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;
}

body .seller-sale .seller-cap.onFeatured {
    background: #72b728;
}

body .seller-sale .seller-cap.onFeatured::before {
    border-top: 13px solid #72b728;
    border-top-color: #72b728;
}

body .seller-sale .seller-cap.onFeatured::after {
    border-bottom-color: #72b728;
    border-bottom: 13px solid #72b728;
}

body .seller-sale .seller-cap.onsale {
    background: #0083c4;
}

body .seller-sale .seller-cap.onsale::before {
    border-top: 13px solid #0083c4;
    border-top-color: #0083c4;
}

body .seller-sale .seller-cap.onsale::after {
    border-bottom-color: #0083c4;
    border-bottom: 13px solid #0083c4;
}

body .electronic.digital .container-ics .electtronic-content .electronic-header .electronic-header-left .electronic-header-icon {
    background-color: #ffbb3d;
}

body .electronic.digital .container-ics .electtronic-content .electronic-header .electronic-header-left .electronic-header-icon::after {
    border-left-color: #ffbb3d;
    border-right-color: #ffbb3d;
}

body .electronic.digital .container-ics .electtronic-content .electronic-header .electronic-header-right .electronic-tab .nav-tabs li a.active {
    color: #ffbb3d;
}

body .electronic.digital .container-ics .electtronic-content .electronic-header .electronic-header-right .electronic-tab .nav-tabs li a:hover {
    color: #ffbb3d;
}

body .recently-viewed {
    display: inline-block;
    width: 100%;
    margin-bottom: 80px;
}

body .recently-viewed .container-ics .recently-content {
    position: relative;
}

body .recently-viewed .container-ics .recently-content .recently-header {
    margin-bottom: 35px;
}

body .recently-viewed .container-ics .recently-content .recently-header .recently-viewed-name {
    margin-bottom: 0;
}

body .recently-viewed .container-ics .recently-content .recently-product .recently-slide .recently-product-column {
    float: left;
    width: 100%;
    border-top: solid 1px #ebebeb;
    border-left: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
}

body .recently-viewed .container-ics .recently-content .recently-product .recently-slide .recently-product-column .recently-product-item {
    padding: 20px;
    border-right: none;
    height: 200px;
    border: solid 1px #ebebeb;
}

body .recently-viewed .container-ics .recently-content .recently-product .recently-slide .recently-product-column .recently-product-item:first-child {}

body .recently-viewed .container-ics .recently-content .recently-product .recently-slide .recently-product-column .recently-product-item .recently-product-image {
    display: inline-block;
    width: 40%;
    float: left;
}

body .recently-viewed .container-ics .recently-content .recently-product .recently-slide .recently-product-column .recently-product-item .recently-product-image .product-recently-link {
    display: inline-block;
}

body .recently-viewed .container-ics .recently-content .recently-product .recently-slide .recently-product-column .recently-product-item .recently-product-image .product-recently-link img {
    width: 135px;
}

body .recently-viewed .container-ics .recently-content .recently-product .recently-slide .recently-product-column .recently-product-item .product-recently-description {
    display: inline-block;
    padding-top: 5%;
    margin-left: 20px;
    width: 50%;
}

body .recently-viewed .container-ics .recently-content .recently-product .recently-slide .recently-product-column .recently-product-item .product-recently-description .product-recently-name {
    font-size: 14px;
    font-family: sans-serif;
}

body .recently-viewed .container-ics .recently-content .recently-product .recently-slide .owl-item:last-child .recently-product-column {
    border-right: solid 1px #ebebeb;
}

body .policy {
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
}

body .policy .container-ics .policy-content {
    margin: 0 -10px;
}

body .policy .container-ics .policy-content .policy-item {
    padding: 0 10px;
    display: block;
    width: 33.33333%;
    float: left;
}

body .policy .container-ics .policy-content .policy-item .policy-item-return {
    padding: 40px 65px;
    background-color: #839ecd;
    width: 100%;
    display: inline-block;
}

body .policy .container-ics .policy-content .policy-item .policy-item-support {
    padding: 40px 65px;
    background-color: #ffbb3d;
    width: 100%;
    display: inline-block;
}

body .policy .container-ics .policy-content .policy-item .policy-item-ship {
    padding: 40px 65px;
    width: 100%;
    background-color: #e72304;
    display: inline-block;
}

body .policy .container-ics .policy-content .policy-item .policy-item-content {
    width: 350px;
    margin: 0 auto;
    display: block;
}

body .policy .container-ics .policy-content .policy-item .policy-item-content .policy-item-img {
    float: left;
    width: 50px;
    height: 60px;
    color: #fff;
    margin-left: 20px;
}

body .policy .container-ics .policy-content .policy-item .policy-item-content .policy-item-img .icon-policy {
    width: 100%;
    height: 100%;
}

body .policy .container-ics .policy-content .policy-item .policy-item-content .policy-item-description {
    padding: 5px 0 5px 25px;
    display: inline;
    float: left;
}

body .policy .container-ics .policy-content .policy-item .policy-item-content .policy-item-description .policy-item-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto-Medium';
}

body .policy .container-ics .policy-content .policy-item .policy-item-content .policy-item-description .policy-feature-excerpt {
    color: #fff;
}

body footer {
    color: #fff;
    background-color: #222;
}

body footer a {
    color: #fff;
}

body footer .container-ics .footer-content {
    padding: 70px 0;
}

body footer .container-ics .footer-content .row-footer {
    margin-left: -10px;
    margin-right: -10px;
}

body footer .container-ics .footer-content .row-footer .col-footer {
    padding-left: 10px;
    padding-right: 10px;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-logo {
    margin-bottom: 20px;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-logo .footer-logo-link {
    display: inline-block;
    margin-bottom: 30px;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-logo .footer-logo-link img {
    max-width: 100%;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-signup .footer-signup-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-signup .footer-signup-form {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 90%;
    margin-bottom: 20px;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-signup .footer-signup-form form {
    display: inline-block;
    width: 100%;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-signup .footer-signup-form form input {
    color: #fff;
    border: solid 1px #fff;
    width: 100%;
    background: transparent;
    padding: 15px 70px 15px 15px;
    height: 50px;
    margin-bottom: 0;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-signup .footer-signup-form form input::placeholder {
    font-style: italic;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-signup .footer-signup-form form button {
    width: 66px;
    background-color: #0083c4;
    border-color: #0083c4;
    color: #fff;
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    padding: 0;
    height: 44px;
    line-height: 0;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-signup .footer-signup-form form button:hover {
    background-color: #3f3f3f;
    color: #fff;
    border-color: #3f3f3f;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social {
    float: left;
    width: 100%;
    display: inline-block;
    padding: 12px 0;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon {
    display: inline-block;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li {
    margin: 2px;
    float: left;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li a {
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 0;
    padding: 10px;
    display: inline-block;
    position: relative;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li a .social-tooltip {
    display: none;
    position: absolute;
    content: "";
    top: -32px;
    left: 50%;
    margin-left: -36px;
    height: 20px;
    opacity: 0;
    visibility: hidden;
    padding: 2px 5px;
    line-height: 16px;
    width: 72px;
    font-size: 10px;
    transition: all 150ms ease-in-out 0s;
    -webkit-transition: all 150ms ease-in-out 0s;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li a .social-tooltip::before {
    font-family: 'FontAwesome';
    content: "\f0d7";
    position: absolute;
    bottom: -9px;
    left: 50%;
    font-size: 12px;
    margin-left: -3px;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li a svg {
    font-size: 20px;
    line-height: 40px;
    margin: 0;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li a::before {
    border-width: 1px;
    border-style: solid;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li a:hover .social-tooltip {
    opacity: 1;
    top: -26px;
    visibility: visible;
    display: inline-block;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li.facebook-social:hover a {
    background-color: #3B5998;
    border-color: #3B5998;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li.facebook-social:hover a::before {
    border-color: #3B5998;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li.facebook-social:hover a .social-tooltip::before {
    color: #3B5998;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li.flickr-social:hover a {
    background-color: #E30761;
    border-color: #E30761;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li.flickr-social:hover a::before {
    border-color: #E30761;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li.flickr-social:hover a .social-tooltip::before {
    color: #E30761;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li.vimeo-social:hover a {
    background-color: #17B3E8;
    border-color: #17B3E8;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li.vimeo-social:hover a::before {
    border-color: #17B3E8;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li.vimeo-social:hover a .social-tooltip::before {
    color: #17B3E8;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li.youtube-social:hover a {
    background-color: #CC181E;
    border-color: #CC181E;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li.youtube-social:hover a::before {
    border-color: #CC181E;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon li.youtube-social:hover a .social-tooltip::before {
    color: #CC181E;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon .facebook-social a .social-tooltip {
    background-color: #3B5998;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon .flickr-social a .social-tooltip {
    background-color: #E30761;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon .vimeo-social a .social-tooltip {
    background-color: #17B3E8;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-info-company .footer-social .list-social-icon .youtube-social a .social-tooltip {
    background-color: #CC181E;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-service .service-title {
    font-size: 18px;
    font-family: 'Roboto-Bold';
    margin-top: 12px;
    margin-bottom: 34px;
}

body footer .container-ics .footer-content .row-footer .col-footer .footer-service .list-service li {
    padding: 8px 0;
}

body .copyright {
    background-color: #0e0e0e;
    display: inline-block;
    width: 100%;
    color: #fff;
}

body .copyright .container-ics .copyright-content .copyright-left {
    padding: 30px 0;
    float: left;
    display: inline;
}

body .copyright .container-ics .copyright-content .copyright-right {
    padding: 30px 0;
    float: right;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes showups {
    0% {
        opacity: 0;
        top: 627px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes showright {
    0% {
        opacity: 0;
        right: 627px;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 355px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 355px;
    }
}

.btn-slick-slide button {
    position: absolute;
    top: 0;
    border: solid 1px #ccc;
    background: #fff;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
}

.btn-slick-slide button svg {
    color: #ccc;
}

.btn-slick-slide button:hover,
.btn-slick-slide button:focus,
.btn-slick-slide button:active {
    border: solid 1px #000;
    outline: none;
}

.btn-slick-slide .btn-slide-next {
    right: 0;
    margin-right: 0;
}

.btn-slick-slide .btn-slide-prev {
    right: 35px;
}


/* ---------- */

.custom-btn-slide {
    position: inherit;
}

.btn-product-electronic {
    position: absolute;
    top: 35%;
    width: 30px;
    height: 30px;
    z-index: 3;
    transition: .5s;
    opacity: 0;
    pointer-events: none;
    cursor: none;
}

.btn-electronic-prev {
    left: -20px;
}

.btn-electronic-next {
    right: -20px;
}

.partner-slide:hover .btn-electronic-prev {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    left: 20px;
}

.partner-slide:hover .btn-electronic-next {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    right: 20px;
}

.back-link {
    margin: 20px 0;
}

.price-old {
    text-decoration: line-through;
}


/*# sourceMappingURL=main.css.map */

.messenter_popup {
    background: #22b950cc;
    display: inline-block;
    padding: 10px 100px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    position: fixed;
    z-index: 999999;
    left: -100px;
    top: 50%;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.messenter_popup.messager_active {
    left: 10%;
    top: 20%;
    opacity: 1;
    pointer-events: all;
    transition: .5s;
}

.cart-menu-number {
    color: #fff;
    font-family: 'Roboto-Regular';
}