@media (max-width: 1980px) {
    .container-banner {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        font-size: 14px;
        line-height: 26px;
        font-family: "Roboto-Regular", sans-serif;
    }
}

@media (min-width: 1501px) {
    body .container-ics {
        padding-left: 80px;
        padding-right: 80px;
        width: 100%;
    }
}

@media (max-width: 1440px) {
    body .container-ics {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 1681px) {
    body .container-ics {
        padding-left: 100px;
        padding-right: 100px;
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 1680px) {
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-content-title2 {
        font-size: 40px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-title {
        font-size: 40px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 {
        right: 5%;
        width: 300px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content {
        width: 300px;
        left: 5%;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-description2 {
        line-height: 1.5;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-description2 .banner-content-description2 {
        font-size: 14px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-description {
        font-size: 14px;
        line-height: 1.5;
    }
    body .product-hot .container-ics .product-hot-content .product-sale-left {
        width: 304px;
    }
    body .product-hot .container-ics .product-hot-content .product-hot-category {
        width: calc(100% - 304px);
    }
    body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-title .product-sale-title-name {
        font-size: 24px;
    }
    body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-description .product-sale-time div {
        width: 50px;
        padding: 7px 2px 6px 2px;
        margin: 0 5px;
    }
    body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-item .product-sale-img {
        height: 347px;
    }
    body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item .product-seller-image {
        height: 265px;
    }
    body .product-hot .container-ics .product-hot-content .product-hot-category .product-hot-bottom .product-hot-banner .hot-banner-link img {
        object-fit: cover;
        height: 100%;
    }
    body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content {
        padding: 13px 0;
    }
}

@media (max-width: 1501px) {
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item img {
        height: 510px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link img,
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link img {
        height: 245px;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-list ul.vertical-menu-parent .vertical-menu-item a {
        padding: 8px 20px 8px 20px;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-list ul.vertical-menu-parent {
        padding: 17px 0 18px 0;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item {
        height: 510px;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-list ul.vertical-menu-parent {
        line-height: 22px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-content {
        top: 12px;
    }
    body .banner .container-ics .row-banner .banner-slider {
        width: calc(100% - 664px);
    }
    body .banner .container-ics .row-banner .banner-product {
        width: 364px;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left,
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-list {
        width: 280px;
    }
    body .banner .container-ics .row-banner .banner-slider {
        margin-left: 300px;
    }
    body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-item .product-sale-img {
        height: 324px;
    }
    body .product-hot .container-ics .product-hot-content .product-hot-category .product-tab-content .product-best-seller .product-seller-item .product-seller-image {
        height: 250px;
    }
    body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-item .product-sale-img {
        margin-bottom: 0;
    }
    body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-description .product-sale-time {
        margin: 12px 0;
    }
}

@media (max-width: 1366px) {
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-content-title2 {
        font-size: 35px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-title {
        font-size: 35px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-description2 .banner-content-description2 {
        font-size: 11px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-description {
        font-size: 11px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content {
        width: 250px;
    }
    body .banner .container-ics .row-banner .banner-slider .slick-active .banner-content-description {
        overflow: visible;
        white-space: normal;
    }
    body .banner .container-ics .row-banner .banner-slider .slick-active .banner-content-description:last-of-type {
        animation: showup 7s infinite;
    }
}

@media (max-width: 1230px) {
    body .banner .container-ics .row-banner .banner-product {
        display: none;
    }
    body .banner .container-ics .row-banner .banner-slider {
        width: calc(100% - 260px);
    }
    body .container-ics {
        display: inline-block;
    }
    body .banner .container-ics .row-banner .banner-slider {
        margin-left: 260px;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left {
        width: 54px;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-heading {
        padding: 20px 0;
        text-align: center;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-heading span {
        display: none;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-heading .fa-th-list {
        margin: 0;
    }
    body .menu-header .container-ics .menu-content .cart-menu-right .cart-menu-content .cart-menu-number,
    body .menu-header .container-ics .menu-content .cart-menu-right .cart-menu-content .hyphen {
        display: none;
    }
}

@media (max-width: 991px) {
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-heading {
        cursor: pointer;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-list {
        display: none;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left:hover .vertical-menu-list {
        display: inline-block;
        animation-name: zoomIn;
        animation-duration: 0.5s;
    }
    body .menu-header .container-ics .menu-content .cart-menu-right {
        display: none;
    }
    body .banner .container-ics .row-banner .banner-slider {
        margin-left: 0;
        width: calc(100% - 260px);
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item {
        height: 390px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item img {
        height: 390px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content {
        top: 17%;
    }
    body .banner .container-ics .row-banner .banner-product {
        display: block;
        width: 260px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link img {
        height: 185px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content .banner-product-title {
        font-size: 24px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content .banner-product-description {
        font-size: 24px;
    }
}

@media (max-width: 900px) {
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item {
        height: 348px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link img {
        height: 164px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item img {
        height: 348px;
    }
    body .banner .container-ics .row-banner .banner-slider {
        width: calc(100% - 250px);
    }
    body .banner .container-ics .row-banner .banner-product {
        width: 250px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content {
        bottom: 11px;
        line-height: 1.2;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left {
        width: 100%;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-title {
        font-size: 28px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-description {
        font-size: 11px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content {
        width: 200px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-description2 .banner-content-description2 {
        font-size: 11px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-content-title2 {
        font-size: 28px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-btn-link,
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-button2 .banner-btn-link {
        margin-top: 25px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content {
        top: 25%;
    }
}

@media (max-width: 768px) {
    body .container-ics {
        padding-left: 10px;
        padding-right: 10px;
    }
    body header .container-ics .header-row {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    body header .container-ics .header-row .header-logo {
        width: 100%;
    }
    body header .container-ics .header-row .header-info {
        width: 100%;
    }
    body header .container-ics .header-row .header-info .company-name {
        font-size: 25px;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left {
        width: 100%;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left {
        width: 100%;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-heading {
        text-align: left;
        padding-left: 20px;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .vertical-menu-left .vertical-menu-heading span {
        display: inline-block;
        margin-left: 10px;
    }
    body .menu-header .container-ics .menu-content .menu-bar-left .horizontal-menu-center {
        display: none;
    }
    #mobile-button-visible {
        display: block;
    }
    body .banner .container-ics .row-banner .banner-slider {
        width: 100%;
    }
    body .banner .container-ics .row-banner .banner-product {
        width: 100%;
        text-align: center;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link img,
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link img {
        height: 285px;
        object-fit: contain;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link,
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link {
        width: auto;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item img,
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item {
        height: 436px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-description {
        font-size: 12px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-title {
        font-size: 40px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content {
        width: 300px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-content-title2 {
        font-size: 40px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-description2 .banner-content-description2 {
        font-size: 12px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content .banner-product-title {
        font-size: 40px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content .banner-product-description {
        font-size: 40px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link .banner-product-content {
        top: 38px;
        line-height: 34px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content {
        bottom: 15px;
        line-height: 37px;
    }
    body .product-hot .container-ics .product-hot-content .product-sale-left {
        width: 100%;
    }
    body .product-hot .container-ics .product-hot-content .product-sale-left .product-sale-left-detail .product-sale-content .product-sale-slide .product-sale-item {
        padding: 0 10px;
        border: solid 1px #ddd;
    }
}

@media (max-width: 700px) {
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item img,
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item {
        height: 369px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content {
        bottom: 20px;
        line-height: 1.1;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-content {
        top: 34px;
    }
}

@media (max-width: 591px) {
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-title {
        font-size: 30px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-content-title2 {
        font-size: 30px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-description {
        font-size: 11px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-description2 .banner-content-description2 {
        font-size: 11px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 {
        width: 210px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content {
        width: 210px;
    }
}

@media (max-width: 480px) {
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item img,
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item {
        height: 266px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item img,
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item {
        height: 266px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-title {
        font-size: 25px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-content-title2 {
        font-size: 25px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-description2 .banner-content-description2 {
        font-size: 9px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-description {
        font-size: 9px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-description {
        line-height: 1.3;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-description2 {
        line-height: 1.2;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content {
        width: 180px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 {
        width: 180px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link img,
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link img {
        height: auto;
    }
}

@media (max-width: 400px) {
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item img,
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item {
        height: 219px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item img,
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item {
        height: 219px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-btn-link,
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-button2 .banner-btn-link {
        padding: 5px 15px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-title {
        font-size: 20px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-description {
        font-size: 8px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content {
        width: 140px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-content-title2 {
        font-size: 20px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-description2 .banner-content-description2 {
        font-size: 8px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 {
        width: 140px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content .banner-product-title {
        font-size: 32px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content .banner-product-description {
        font-size: 32px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link .banner-product-content .banner-product-title {
        font-size: 32px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content {
        bottom: 25px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link .banner-product-content {
        top: 32px;
    }
}

@media (min-width: 320px) and (max-width: 350px) {
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item img,
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item {
        height: 170px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item img,
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item {
        height: 170px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-btn-link,
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-button2 .banner-btn-link {
        padding: 5px 15px;
        margin-top: 10px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-title {
        font-size: 18px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-content-description {
        font-size: 7px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content {
        width: 140px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-content-title2 {
        font-size: 18px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-description2 .banner-content-description2 {
        font-size: 7px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 {
        width: 140px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content {
        top: 15%;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-content-title2 {
        font-size: 18px;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 {
        top: 20%;
    }
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item .banner-content .banner-btn-link,
    body .banner .container-ics .row-banner .banner-slider .banner-slider-item.banner-slider-item2 .banner-content2 .banner-button2 .banner-btn-link {
        padding: 3px 10px;
        font-size: 10px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content .banner-product-description {
        font-size: 27px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content .banner-product-title {
        font-size: 28px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem .banner-product-link .banner-product-content {
        bottom: 16px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link .banner-product-content .banner-product-title {
        font-size: 28px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link .banner-product-content .banner-product-description {
        font-size: 28px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link .banner-product-content {
        line-height: 22px;
    }
    body .banner .container-ics .row-banner .banner-product .banner-product-tem2 .banner-product-link .banner-product-content {
        top: 28px;
    }
}


/*# sourceMappingURL=media.css.map */