/* Search icon by IcoMoon, made with http://icomoon.io/app/ */


.sb-search {
	margin-top: 0px;
	position: relative;
	width: 0%;
	min-width: 50px;
	float: left;
	/*overflow: hidden;*/
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: 39px;
	right: 0;
	border: none;
	outline: none;
	background: #e7e3e3;
	width: 0px;
	height: 39px;
	margin: 0;
	z-index: 10;
	padding: 5px 5px 5px 15px;
	font-family: inherit;
	font-size: 16px;
	color: #2c3e50;
	display: none;
}
.sb-search.sb-search-open .sb-search-input {
	width: 300px;
	display: block;
	border: 1px solid #cccccc;
}
.sb-search-input::-webkit-input-placeholder {
	color: #efb480;
}

.sb-search-input:-moz-placeholder {
	color: #efb480;
}

.sb-search-input::-moz-placeholder {
	color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
	color: #efb480;
}

.sb-icon-search,
.sb-search-submit  {
	width: 50px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 39px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
	filter: alpha(opacity=0); /* IE 5-7 */
	opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background: transparent;
	z-index: 9999999;
	font-size: 22px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: url("../img/icon_search.png");
	/* border-right: 1px solid #fff;
	border-left: 1px solid #fff; */
	padding: 0 5px;
}
.sb-search.sb-search-open .sb-icon-search:before{
	color: #000000;
}
/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	/*width: 100%;*/
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background:  #25aae1;
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

@media (min-width:768px) and (max-width:991px) {
	.sb-search.sb-search-open .sb-search-input,
	.sb-search-input{
		top: 15px;
		display: block;
		padding: 5px 43px 5px 15px;
		width: 100%;
		border: 1px solid #cccccc;
		position: relative;
	}
	.sb-search{
		margin: 0px 0px;
		margin-right: 0px;
		width: 100%;
	}
	.sb-icon-search {
		background: #b1b1b1;
		top: 15px;
	}
}

@media (max-width:767px)  {
	.sb-search.sb-search-open .sb-search-input,
	.sb-search-input{
		top: 15px;
		display: block;
		padding: 5px 43px 5px 15px;
		width: 100%;
		border: 1px solid #cccccc;
		position: relative;
	}
	.sb-search{
		margin: 0px 0px;
		margin-right: 0px;
		width: 100%;
	}
	.sb-icon-search {
		background: #b1b1b1;
		top: 15px;
	}
}